extends layout

block content
  br
  .row
      
        .sidebar
          .header
            a(href="/login") #{title}
          .sidebar__content
            form(action='/authenticate', method='post')
              .form-group
                label Username: 
                input.form-control(type="text", name="name", id='user')
              .form-group
                label Password: 
                input.form-control(type="password", name="password", id='pass')
              .form-group
                button(type="submit")#btn-login.btn.btn-primary Sign in
              p #{error}